body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.board{
}

.board-row{
  display: table-row;
}

.game {
  display: flex;
  flex-direction: row;
}

.card {
  display: table-cell;
  padding: 20px;
  cursor: pointer;
}

.card > div > svg > rect:hover{
  fill: honeydew;
}