/*#svg {
  overflow: visible;
  width: 100%;
}*/

.card {
  display: table-cell;
  padding: 20px;
  cursor: pointer;
}

.card > svg > rect:hover{
	fill: honeydew;
}

.card.selected > svg > rect{
	fill: lightgoldenrodyellow;
}
